
{% extends "wrapper.html" %}
{% load staticfiles %}


{% block content %}


<section class="img-main">

</section>

			<!-- <div class ="img-main "/> -->
				<!-- <img class = "img-main"/> -->
				<!-- <img src="{% static 'images/door.jpg' %}"> -->
			<!-- </div> -->

			<!-- <div class ="img">
				<img src="{% static 'images/house.jpg' %}">
			</div>

			<div class ="img">
				<img src="{% static 'images/house.jpg' %}">
			</div>

			<div class ="img">
				<img src="{% static 'images/house.jpg' %}">
			</div> -->

{% endblock %}