{% extends "account/base.html" %}
{% load staticfiles %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class=container_signup_first>
	<h1><span id="custom_signup_h1_span">{% trans "Sign Up" %}</span></h1>
	<p id = "custom_signup_p">{% blocktrans trimmed %}Already have an account? Then please {% endblocktrans %}</p>
</div>

<a id = "custom_signup_a" href="{{ login_url }}">Sign In</a>
<p></p>


<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class=container_signup>
  {{ form.as_p }}
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class = "signupbutton" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>







<script>
	$(".navbar-nav .nav-link").on("click", function(event){
});
$( document ).ready(function() {
   // alert( "ready!" );
	$('.nav-item.active').removeClass('active');
	$('.nav-item.signup').addClass("active");
});
</script>

{% endblock %}
